.people_info {
   text-align: center;
}

.people_logo {
   background-color: #2B3133;
   height: 250px;
}

.people_logo img {
   margin-top: 40px;
   width: 120px;
   height: 120px;
}

.people_info__items {
   background-color: #60686F;
   padding-top: 50px;
   width: 400px;
   height: 300px;
}

.people_info__item {
   margin-left: 30px;
   width: 340px;
   background-color: #BEC0C2;
   color: #555A5D;
   text-align: center;
   border-bottom: 1px solid #949596;
   padding: 20px 0 20px 0;
}